{include file="header"}
<link rel="stylesheet" type="text/css" href="__ADMIN_PUBLIC__/static/css/common.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUBLIC__/static/css/super_findpassword.css" />
<div class="vue_box">

	<h3>维修员重置密码</h3>

	<div>
		<!--第一步，输入学号-->
		<transition name="fade">
			
			<div class="first hideInfo" v-if="page===1" id="first_page" >
				<form method="POST" >
					<!--学号-->
					<div class="form-group">
						<label class="control-label" for="ad_uid">学号</label>
						<input class="form-control" placeholder="请输入您的学号" id="ad_uid" name="ad_uid" v-model='ad_uid'/>
					</div>
					<!--验证码-->
					<div class="form-group">
						<label class="control-label" for="captcha">验证码</label>
						<input class="form-control" placeholder="请输入正确的验证码" id="captcha" name="captcha"  v-model="captcha"/>
						
					</div>
				</form>
				<p class="error"></p>
				<!--操作按钮-->
				<div class="updateBtn">
					<div><img :src="captcha_src" @click="change()" class="captcha_box"/></div>
					<button class="btn btn-primary" @click="returnProblem()">下一步</button>
					<a class="btn btn-danger" href="{:url('super/login/index')}">返回登录</a>
				</div>
			</div>

			<!--第二步，验证答案-->
			<div class="second hideInfo" v-else-if="page===2" id="second_page" >
				<form method="POST" >
					<!--您的问题-->
					<label class="control-label">问题</label>
					<div class="form-control	"><p id="problem" readonly class="problem">{{ad_problem}}</p></div>
					<!--您的答案-->
					<div class="form-group">
						<label class="control-label" for="ad_answer">答案</label>
						<input class="form-control" placeholder="请输入您的答案" id="ad_answer" name="ad_answer"  v-model='ad_answer'/>
					</div>				
				</form>
				<p class="error"></p>
				<!--操作按钮-->
				<div class="updateBtn">
					<button class="btn btn-primary" @click="validate_answer()">下一步</button>
					<a class="btn btn-danger" href="{:url('super/login/index')}">返回登录</a>
				</div>
			</div>
			
			<!--第三步，修改密码-->
			<div class="third hideInfo" v-else-if="page===3" id="third_page" >
				<form method="POST" >				
					<!--新密码-->
					<div class="form-group">
						<label class="control-label" for="ad_password">新密码</label>
						<input class="form-control" type="password" placeholder="请输入您的密码" id="ad_password" name="ad_password" v-model='ad_password'/>
					</div>	
					<!--请再输入一次密码-->
					<div class="form-group">
						<label class="control-label" for="ad_password1">请再输入一次密码</label>
						<input class="form-control" type="password" placeholder="请再一次输入您的密码" id="ad_password1" name="ad_password1" v-model='ad_password1'/>
					</div>	
				</form>
				<p class="error"></p>
				
				<!--操作按钮-->
				<div class="updateBtn">
					<button class="btn btn-primary" @click="new_password()">更改</button>
					<a class="btn btn-danger" href="{:url('super/login/index')}">返回登录</a>
				</div>
			</div>
			
		</transition>
	</div>
</div>

<script type="text/javascript">
	$(".hideInfo").show()
	var vue = new Vue({
		el: '.vue_box',
		data: {
			page: 1, //验证第几步
			ad_uid: null, //学号
			ad_password:null,//密码
			ad_password1:null,//重复密码
			ad_answer: null, //重置密码的答案
			ad_problem: null, //重置密码的问题
			captcha_src: "{:captcha_src()}", //验证码图片
			captcha: null, //输入的验证码
		},
		//清空错误提示
		watch:{
			ad_uid:function(){
				$(".error").text(" ");			
			},	
			captcha:function(){
				$(".error").text(" ");				
			},
			ad_password:function(){
				$(".error").text(" ");			
			},
			ad_password1:function(){
				$(".error").text(" ");				
			},
			ad_answer:function(){
				$(".error").text(" ");				
			}
		},
		methods: {
			//返回学号对应的找回密码的问题
			returnProblem: function() {
				this.$http.post("{:url('returnProblem')}", {
					ad_uid: this.ad_uid,
					captcha: this.captcha,
				}).then(function(data){
					//填写错误
					if(typeof(data.body) !== 'object') {
						$(".error").text(data.body);
						this.change();
					//填写正确
					} else {
						this.page = 2;										
						$(".error").text(" ");																					
						this.ad_problem = data.body[0];
					}
				})
			},
			
			//验证找回密码的答案
			validate_answer: function() {
				this.$http.post("{:url('validate_answer')}", {
					ad_uid: this.ad_uid,
					ad_answer: this.ad_answer,
				}).then(function(data){
					//填写正确
					if(data.body == 1) {
						this.page = 3;
						$(".error").text(" ");	
//						填写错误
					} else {
						$(".error").text(data.body);					
					}
				})
			},
				//验证找回密码的答案
			new_password: function() {
				this.$http.post("{:url('new_password')}", {
					ad_uid: this.ad_uid,
					ad_answer: this.ad_answer,
					ad_password: this.ad_password,
					ad_password1: this.ad_password1,
					//修改成功
				}).then(function(data){
					if(data.body==1){
						location.href="{:url('changeSuccess')}";	
					//修改失败
					}else{
						$(".error").text(data.body);																				
					}
				})
			},
			
			//改变验证码
			change: function() {
				this.captcha_src += "?code=" + Math.random(10000);
			},
		}
	})
</script>

<!--<script type="text/javascript">

		$('#first_page').bootstrapValidator({
			//检验提示　　　　　　
			message: 'This value is not valid',
			feedbackIcons: {　　　　　　　　
				valid: 'glyphicon glyphicon-ok',
　　　　　　　　invalid: 'glyphicon glyphicon-remove',
　　　　　　　　validating: 'glyphicon glyphicon-refresh'　　　　　　　　
			},

			//            字段验证
			fields: {
				// 学号
				ad_uid: {
					message: '学号非法',
					validators: {
						//                        非空
						notEmpty: {
							message: '学号不能为空'
						},
						regexp: {
							regexp: /^1[0-9]{10}$/,
							message: '学号为1开头，长度为11位'
						}

					}
				},
				//验证码
				captcha: {
					validators: {
						//非空
						notEmpty: {
							message: '验证码不能为空'
						},
					}
				},
				

			}
		})

	
	var second = function() {
		console.log(1)
	
	}
</script>-->
{include file="footer"}